h1 {
    color: darkgreen;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("./assets/images/sunrise-forest-header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgreen;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    padding:5%;
}

#navigation  li{
    float:right;
    list-style: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
}

body { 
font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1100px) {
    h1, h2, h3, {text-align: center;} 
}