h1 {
    color: darkgreen;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("/Assets/images/sunrise-forest-header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgreen;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    padding:5%;
}

#navigation {
    float: right;
    
}