/*Page header and background image styling */
h1 {
    color: darkgreen;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../images/sunrise-forest-header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgreen;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    padding:5%;
}

/*Navigation styling for the list of run style choices on index.html homepage */
#navigation li{
    float:right;
    list-style-type: none;
    text-decoration: none;
    font-size: 3vw;
}

/*Navigation menu styling to fit at tip of the page underneath the header */
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Styling for the bullet point display portion of the run type selector on index.html homepage */
#run-selector li {
    color: darkgoldenrod;
    font-size: 2vw;
    list-style: square;
}

/*Main body styling of the websites content for background base colour and fonts */
body { 
font-family: Arial, Helvetica, sans-serif;
background-color: lightgreen;
}

/*Styling responsible for the central placement of content when given this class */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*Responsible for the way the website reacts to varying screen sizes */
@media screen and (max-width: 1000px) {
    h1, h2, h3 {text-align: center;}
    .center{ width:100%; height: 75%;} 
}